/* CSS para el estilo de las paginas */

/*Colores:
CultuPedia: #1e2742
Opciones: #391944
CultuNet: #561a1a
CultuMap: #442d1f
Principal: #5a5a5a
Fuente: GeosansLight*/

@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {font-family:GeosansLight; src: url('GeosansLight.ttf');}

html, body {
  font-family: GeosansLight;
  src: url('GeosansLight.ttf');
}

.body {
	width:100%;
}
/* LOADING */

.loading-body {
	background-color : #5a5a5a;
}

.loading-main {
	padding-left: 17%;

}

.navi-loading {
	width : 75%;
	height: 75%;
	margin-left: 10%;
}

.progress {
	width: 50%;
	height: 40%;
	margin-top: 2%;
	margin-left: 25%;
	margin-right: 25%;
}

.progress-bar {
	width : 60%;
	min-width: 2em;
}

/* MAIN MENU */

.maintitle-img {
	width: 55%;
	height: 55%;
	margin-right: 20%;
	margin-top: -1%;
}
.mainMenu-body {
	background-color : #1e2742;
}
.main-title {
	width : 100%;
	margin-bottom: 1%;
	margin-top: 1%;
	text-align: left;
	font-family : GeosansLight;
}

.mainmenuimg { 
	width : 85%;
}

.title-img {
	width : 15%;
	height : 15%;
	margin-right: 10%;
}

.categoria {
	font-family : GeosansLight;
	width : 50%;
	text-align: left;
	margin-top: 2%;
}

.col-sm-3 {
	margin-top : 2%;
}

.main-icon {
	width : 4%;
	height: 4%;
	float:right;
}
/* CULTUPEDIA */

.cultupedia-body {
	background-color: #1e2742;
}

.icon-blanco {
	width : 8.5%;
	height : 5%;
	margin-top: 6%;
}
.cat-title-img {
	width : 90%;
	margin-left: -5%;
	padding-top: 5%;
}
.menuimg {
	width: 90%;
}
.shuffle-btn {
	width : 40%;
	height : 10%;
}

.navi-cat {
	width: 40%;
	height: 40%;
}
.main-shuffle {
	margin-left: 50%;
	margin-top: -50%;
}

.glyphicon-random {
	width: 100%;
	height: 50%;
}

.cat-title {
	width : 80%;
	margin-left: -7%;
}

.museo-elem {
	width : 75px;
	height: 75px;
	margin-left: 10%;
}

.museo-elem-name {
	margin-left : 7%;
	color: white;
	font-family : GeosansLight;
}

.cat-elem {
	width : 75px;
	height: 75px;
	margin-left:12%;
}

.cat-col {
	width: 20%;
}

.cat-table {
	width: 100%;
}
.cat-table, td, th {
	border: 1px solid white;
	margin-top: 0.2%;
}


.cat-elem-name {
	margin-left : 7%;
	color: white;
	font-family : GeosansLight;
}

.form-control { 
	width: 75%;
}
.navi-search {
	width : 16%;
	height : 16%;
	margin-top:-18%;
}

.search-title-img {
	width : 15%;
	height : 15%;
	margin-top: 6%;
}

.glyphicon-sort-by-alphabet, .glyphicon-certificate, .glyphicon-star {
	color: white;
}

.favorito {
	color: yellow;

}

.cat-shuffle {
	margin-left: 60%;
	margin-top: -20%;
}

.checkbox1 {
	margin-left: 5%;
	display: inline;
}

.item {
	margin-left: 12%;
}

.carousel-inner {
	height:50%;
}

.item-long-desc {
	color: white;
	font-family : GeosansLight;
}

.elems-title-img {
	width : 85%;
	margin-left: -1%;
	padding-top: 5%;
	margin-bottom: 0.5%;
}

.elem-elem-name {
	margin-left : 10%;
	color: white;
	font-family : GeosansLight;
}

.elem-elem-img {
	width: 75px;
	height: 100px;
	margin-left: 10%;
}

/* CULTUMAP */

.cultumap-body {
	background-color:#442d1f; 
}
.cultumap-title-main {
	width : 90%;
	margin-left: -5%;
	padding-top: 5%;
}

.zoom {
	color : white;
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left:15px;
}

.navi-cultumap {
	width: 100px;
	height: 100px;
	margin-left: 20px;
}

.cultumap-map {
	margin-bottom: 10px;
}
/* CULTUNET */


.cultunet-body {
	background-color: #561a1a;
}

.navi-cultunet {
	width: 125px;
	height: 125px;
}

.name-col {
	color: white;
	margin-top: 20px;
}

.gift-col {
	margin-top:15px;
	color: white;
}

.glyphicon-gift {
	font-size: 25px;
	color: white;
}

.separador {
	width: 80%;
}

.noti-name {
	color: white;
}

.btn-col {
	margin-top: 40px;
}

.mensaje-text {
	width: 200px;
}
/* CONFIGURACION */
.config-body {
	background-color :#391944;
}

.panel > .ph-gen {
	background-image: none;
	background-color :#5a5a5a;
	color: white;
}

.panel > .ph-pedia {
	background-image: none;
	background-color :#1e2742;
	color: white;
}

.panel > .ph-map {
	background-image: none;
	background-color :#442d1f;
	color: white;
}

.panel > .ph-net {
	background-image: none;
	background-color :#561a1a;
	color: white;
}

.panel-config {
	width : 90%;
	font-family : GeosansLight;
}

.config-icon {
	height: 20%;
	width: 20%;
	margin-left: 5%;
}

.config-icon2 {
	height: 12%;
	width: 12%;
	margin-left: 5%;
}

.config-elem1 {
	width : 25%;
	height: 25%;
	margin-left: 2%;
}

.config-elem2 {
	width : 25%;
	height: 25%;
	margin-left: 37%;
	margin-top: -24.5%;
}

.config-elem3 {
	width : 25%;
	height: 25%;
	margin-left:72%;
	margin-top: -24.5%;
}

.config-elem4 {
	width : 25%;
	height: 25%;
	margin-left: 2%;
}

.config-elem5 {
	width : 25%;
	height: 25%;
	margin-left: 37%;
	margin-top: -17%;
}

.config-elem6 {
	width : 25%;
	height: 25%;
	margin-left:72%;
	margin-top: -17%;
}

p {
	font-family : GeosansLight;
	text-align:justify;
}

.selec-cont {
	margin-top: 2%;
}

.selec-btn1 {
	margin-top: 2%;
	padding: 0% 31%;
}

.selec-btn2 {
	margin-top: 10%;
}

.selec-btn3 {
	margin-top: 10%;
	padding: 0% 48%;
}

.selec-btn4 {
	margin-top: 10%;
	padding: 0% 30%;
}

.selec-btn5 {
	margin-top: 10%;
	padding: 0% 54%;
}

.selec-btn6 {
	margin-top: 10%;
	padding: 0% 18%;
}

.selec-search-bar {
	margin-left: 5%;
	width: 100%;
}

.buscar-form {
	width: 70%;
}

.selec-col {
	margin-left: 7%;
}
.selec-table {
	width: 100%;
}

.selec-table, td, th {
	border: 1px solid white;
	margin-top: 0.2%;
}

.selec-elem {
	width: 75px;
	height: 75px;
	margin-left: 7px;
}

.selec-elem2 {
	width: 75px;
	height: 75px;
	margin-left: 25%;
}

.selec-elem-name {
	margin-left : 7%;
	color: white;
	font-family : GeosansLight;
	font-size: 11;
}

.selec-elem-name2 {
	margin-left : 22%;
	color: white;
	font-family : GeosansLight;
	font-size: 11;
}

.selec-elem-name3 {
	margin-left : 30%;
	color: white;
	font-family : GeosansLight;
	font-size: 11;
}

.selec-elem-name4 {
	margin-left : -10%;
	color: white;
	font-family : GeosansLight;
	font-size: 11;
}

.selec-checkbox {
	margin-left: 40px;
}

.selec-checkbox2 {
	margin-left: 80px;
}

.listo-btn {
	margin-left: 60%;
	margin-top: 25%;
}

.navi-selec {
	margin-top: 15%;
	width: 80%;
	height: 80%;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background:#e3e2e2;
}

.backIcon {
	position: absolute;
	float: left;
	margin-left: 80px;
	top:10px;
}

.homeIcon {
	position: relative;
	float: right;
	margin-right: 80px;
	top:10px;
}

#esculturas, #museos, #parques, #plazas, #restaurant, #busqueda,#favorito, #favorito2{
	display: none;
}

/* Botones de las tablas */

.tablaIzq{
	height: 70px;
	width: 160px;
	margin-left: -10px;
}

.tablaIzq a img{
	max-height: 100%;
	max-width: 100%;
}

.tablaDer{
	margin-top: -69px;
	margin-left: 120px;
}

/* Botones de notificaciones de Cultunet */
.backIconNoti {
	display:inline;
	position:relative;
	left:-90px;
}

.botonAceptar {
	display:inline;
	position:relative;
	left:-70px;
}

.botonRechazar {
	 display:inline;
	 position:relative;
	 left:-30px;
}

.nextIcon {
	display:inline;
}