/* CSS para el estilo de las paginas */

/*Colores:
CultuPedia: #1e2742
Opciones: #391944
CultuNet: #561a1a
CultuMap:
Principal:

Fuente: GeosansLight*/

@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {font-family:GeosansLight; src: url('GeosansLight.ttf');}

.body {
	width:100%;
}
/* LOADING */

.loading-body {
	background-color : #1e2742;
}

.loading-main {
	padding-left: 17%;

}

.navi-loading {
	width : 75%;
	height: 75%;
}

.progress {
	width: 40%;
	margin-top: 2%;
	margin-left: 10%;
}

.progress-bar {
	width : 60%;
	min-width: 2em;
}

/* MAIN MENU */
.mainMenu-body {
	background-color : #1e2742;
}
.main-title {
	width : 90%;
	margin-bottom: 1%;
	margin-top: 1%;
	text-align: left;
	font-family : GeosansLight;
}

.mainmenuimg { 
	width : 85%;
}

.title-img {
	width : 15%;
	height : 15%;
}

.categoria {
	font-family : GeosansLight;
	width : 50%;
	text-align: left;
	margin-top: 2%;
}

.col-sm-3 {
	margin-top : 2%;
}

.main-icon {
	width : 4%;
	height: 4%;
	float:right;
}
/* CULTUPEDIA */

.cat-title-img {
	width : 50%;
	margin-left: -5%;
	padding-top: 5%;
}
.menuimg {
	width: 90%;
}
.shuffle-btn {
	width : 50%;
	height : 50px;
}

.cat-elem {
	width : 35%;
	height: 35%;
	margin-left:35%;
}

.cat-col {
	width: 20%;
}

.cat-table {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}
.cat-table, td, th {
	border: 1px solid white;
	margin-top: 0.2%;
}

.cat-elem-name {
	margin-left : 44%;
}

.search-bar {
	padding-top: 20%;
}
.search-row {
	margin-left: 2%;
}

.navi-search {
	width : 16%;
	height : 16%;
	margin-top:-2%;
	margin-right: -2%;
}

.search-title-img {
	width : 10%;
	height : 10%;

	margin-top: 6%;
}

.checkbox-col {
	padding-left: 2.5%;
}

.glyphicon-font, .glyphicon-certificate, .glyphicon-star {
	color: white;
}
/* CULTUMAP */

/* CULTUNET */

/* CONFIGURACION */

.panel-config {
	width : 50%;
	font-family : GeosansLight;
}