/* CSS para el estilo de las paginas */

/*Colores:
CultuPedia: #1e2742
Opciones: #391944
CultuNet: #561a1a
CultuMap:
Principal:

Fuente: GeosansLight*/

@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {font-family:GeosansLight; src: url('GeosansLight.ttf');}
/*.page-header {
	margin-top: 0px;
	background: black;
	color: white;
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 45px;
	margin-bottom: -30px;
	text-align: center;
	.img-responsive {
		float: left;
		width: 7%;
		height: 7%;
		margin-left: 20px;
	}
}*/

.body {
	width:100%;
}
/* LOADING */

.loading-body {
	background-color : #1e2742;
}

.loading-main {
	padding-left: 17%;

}

.navi-loading {
	width : 40%;
	height: 40%;
}

.progress {
	width: 20%;
	margin-top: 2%;
	margin-left: 20%;
}

.progress-bar {
	width : 60%;
	min-width: 2em;
}

/* MAIN MENU */
.mainMenu-body {
	background-color : #1e2742;
}
.main-title {
	width : 52%;
	margin-bottom: 1%;
	margin-top: 1%;
	text-align: left;
	font-family : GeosansLight;
}

.title-img {
	width : 15%;
	height : 15%;
}

.categoria {
	font-family : GeosansLight;
	width : 50%;
	text-align: left;
	margin-top: 2%;
}

.col-sm-3 {
	margin-top : 2%;
}

.main-icon {
	width : 5%;
	height: 5%;
	float:right;
}
/* CULTUPEDIA */

.shuffle-btn {
	width : 50%;
	height : 50px;
}

.cat-elem {
	width : 35%;
	height: 35%;
	margin-left:35%;
}

.cat-row {
	margin-top: 2%;
}
.cat-col {
	width: 20%;
}

.cat-table {
	width: 45%;
	margin-left: 7%;
}
.cat-table, td, th {
	border: 1px solid white;
	margin-top: 0.2%;
}

.cat-elem-name {
	margin-left : 7%;
}

.search-row {
	margin-top: -2%;
}

.navi-search {
	width : 16%;
	height : 16%;
	margin-top: 2%;
}

.search-title-img {
	width : 5%;
	height : 5%;
	margin-left: 45%;
	padding-bottom: -10%;
}

.checkbox-col {
	padding-left: 2.5%;
}

.glyphicon-font, .glyphicon-certificate, .glyphicon-star {
	color: white;
}
/* CULTUMAP */

/* CULTUNET */

/* CONFIGURACION */

.panel-config {
	width : 50%;
	font-family : GeosansLight;
}